@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 11%;
    --foreground: 210 20% 98%;
 
    --card: 0 0% 9%;
    --card-foreground: 210 20% 98%;
 
    --popover: 0 0% 11%;
    --popover-foreground: 210 20% 98%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 0 0% 18%;
    --secondary-foreground: 210 20% 98%;
 
    --muted: 180 0% 46%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --accent: 0 0% 9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --border: 0 0% 18%;
    --input: 0 0% 18%;
    --ring: 0 0% 18%;
    
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 11%;
    --foreground: 210 20% 98%;
 
    --card: 0 0% 11%;
    --card-foreground: 210 20% 98%;
 
    --popover: 0 0% 11%;
    --popover-foreground: 210 20% 98%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 0 0% 18%;
    --secondary-foreground: 210 20% 98%;
 
    --muted: 0 0% 18%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --accent: 0 0% 18%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --border: 0 0% 18%;
    --input: 0 0% 18%;
    --ring: 216 12.2% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}